In [5]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('car_fuel_efficiency.csv')

In [7]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [8]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [10]:
len(df)

9704

In [18]:
len(df)

9704

In [12]:
print(pd.__version__)

2.3.2

In [14]:
df['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [27]:
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max().round()

np.float64(24.0)

In [29]:
median_hp = df['horsepower'].median()
mode_hp = df['horsepower'].mode()
median_hp
mode_hp

0    152.0
Name: horsepower, dtype: float64

In [32]:
df['horsepower'].median()

np.float64(149.0)

In [40]:
hpmode = df['horsepower'].mode()
hpmode

float64

In [55]:
df['horsepower'].fillna(hpmode)

0       159.0
1        97.0
2        78.0
3         NaN
4       140.0
        ...
9699    164.0
9700    154.0
9701    138.0
9702    177.0
9703    140.0
Name: horsepower, Length: 9704, dtype: float64

In [42]:
df['horsepower'].median()

np.float64(149.0)

In [46]:
df2 = df['horsepower'].fillna(hpmode.values[0])
df2.head()

0    159.0
1     97.0
2     78.0
3      NaN
4    140.0
Name: horsepower, dtype: float64

df2.median()

In [47]:
df2.median()

np.float64(149.0)

In [48]:
df2.head()

0    159.0
1     97.0
2     78.0
3      NaN
4    140.0
Name: horsepower, dtype: float64

In [49]:
hpmode*2

0    304.0
Name: horsepower, dtype: float64

In [54]:
hpmode.values[0]

np.float64(152.0)

In [60]:
df = pd.read_csv('car_fuel_efficiency.csv')
df['horsepower'].median(axis=0)
df['horsepower'].mode()

0    152.0
Name: horsepower, dtype: float64

In [61]:
df = df['horsepower'].fillna(152.0)
df.head()

0    159.0
1     97.0
2     78.0
3    152.0
4    140.0
Name: horsepower, dtype: float64

In [63]:
df.mode()

0    152.0
Name: horsepower, dtype: float64

In [64]:
df.head()

0    159.0
1     97.0
2     78.0
3    152.0
4    140.0
Name: horsepower, dtype: float64

In [65]:
df.median()

np.float64(152.0)

In [67]:
df = pd.read_csv('car_fuel_efficiency.csv')
df = df[df['origin'] == 'Asia']

In [68]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730

In [70]:
subset_df = df[['vehicle_weight', 'model_year']]
subset_df.head(n=7)

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [72]:
import numpy as np
a = subset_df.head(n=7).to_numpy()
print(np.shape(a))
a

(7, 2)

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [73]:
X = subset_df.head(n=7).to_numpy()

In [74]:
XTX = np.dot(X.T, X)

In [75]:
XTX_INV = np.linalg.inv(XTX)

In [76]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [78]:
b = np.dot(XTX_INV, X.T)

In [79]:
print(np.shape(y))
print(np.shape(b))

(7,)
(2, 7)

In [80]:
w = np.dot(b, y)

In [81]:
w

array([0.01386421, 0.5049067 ])

In [82]:
np.sum(w)

np.float64(0.5187709081074006)